@import "tailwindcss";

@theme {
  --color-primary: #16a34a ; /* green-500 */
  --color-primary-black: #111827; /* green-700 */
    
}

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #1f2937; /* text-gray-800 */
    background-color: #39aa39; /* bg-gray-50 */
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  button {
    cursor: pointer;
  }

  input:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(34, 197, 94, 0.5); /* focus:ring-primary */
  }
}

/* Classes personnalisées pour composants réutilisables */